* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
} 

body {
  background-color: #d6e6f2;
  margin: 0 10% 0 10%;
  min-height: 100%;
  overflow-x: hidden;
}

.main-section {
  background-color: #f7fbfc;
  box-shadow: 0 0 5px 10px #f7fbfc;
  padding-bottom: 10%
}

.footer-section {
  background-color: #b9d7ea;
  box-shadow: 0 0 5px 10px #b9d7ea;
}

h1 {
  padding: 5% 5% 5% 5%;
  font-size: 4rem;
  z-index: 1;
}

h2 {
  text-align: left;
  padding: 5% 5% 5% 5%;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

hr {
  border-style: dotted none none none;
  border-color: #d6e6f2;
  border-width: 8px;
  width: 48px;
  align-self: center;
}

.welcome-div {
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
}

.hello-h1 {
  text-align: left;
  position: relative;
  top: 25%;
}

.ukulele-img {
  display: none;
}

.songs-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.song-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4%;
  display: block;
  font-size: 1.2rem;
}

.song-type {
  display: inline;
  float: right;
}

.thank-you-h2 {
  text-align: center;
  padding: 1%;
}

.social-img-div {
  display: flex;
  justify-content: center;
}

.youtube-img {
  width: 10rem;
  margin: 2% 5% 2% 5%;
  flex-shrink: 1;
}
/* 
.arrow-img {
  width: 15rem;
  margin: 2% 5% 2% 5%;
  transform: rotate(180deg);
  flex-shrink: 1;
} */

@media only screen and (orientation: landscape) {
  .ukulele-img {
    display: inline;
    width: 25rem;
    margin-top: 5%;
  }
}